option_settings:
  aws:elasticbeanstalk:application:environment:
    MYSQLDB_SECRET="callensights/mysql"
    MONGODB_SECRET="callensights/mongodb"
    CLERK_SECRET="callensights/clerk"
    CLERK_AUDIENCE="callensights-api-prod"
    REGION="us-east-1"
    DEFAULT_SCHEMA="callensights_dev"
    MEDIA_BUCKET="callensights-media"
    TRANSCRIPT_BUCKET="callensights-transcript"
    ANALYSIS_BUCKET="callensights-analysis"
    MEDIA_MIN_SIZE=1024
    MEDIA_MAX_SIZE=1073741824
