option_settings:
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: MYSQLDB_SECRET
    value: "callensights/mysql"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: MONGODB_SECRET
    value: "callensights/mongodb"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: CLERK_SECRET
    value: "callensights/clerk/dev"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: CLERK_AUDIENCE
    value: "callensights-api-dev"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: REGION
    value: "us-east-1"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: DEFAULT_SCHEMA
    value: "callensights_dev"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: MEDIA_BUCKET
    value: "callensights-media"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: TRANSCRIPT_BUCKET
    value: "callensights-transcript"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: ANALYSIS_BUCKET
    value: "callensights-analysis"
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: MEDIA_MIN_SIZE
    value: 1024
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: MEDIA_MAX_SIZE
    value: 1073741824
